{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/component.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main class="navfix container clearfix markdown-output screenshots" aria-label="Content">
  <h1>{{ .Title }}</h1>

  {{ if .Params.screenshot }}
  <a href="{{ .Params.screenshot }}">
    <img
      src="{{ .Params.screenshot }}"
      alt="{{ .Title }}"
      class="screenshot preview"
    />
  </a>
  {{ end }}
  {{ .Content }}
</main>
{{ end }}
