{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<figure class="text-center ratio ratio-16x9{{ with .fig_class }} {{ . }}{{ end }}">
    <video{{ with .muted }} muted{{ end }}
        {{- with .loop }} loop{{ end -}}
        {{- with .autoplay }} autoplay{{ end -}}
        {{- if and (.controls) (not (eq .controls "false")) }} controls{{ else }} style="pointer-events: none;"{{ end -}}
        {{- with .poster }} poster="{{ . }}"{{ end -}}
        {{- with .vid_class }} class="{{ . }}"{{ end -}}>
  {{- with .webm -}}
    <source src="{{ . }}" type="video/webm" />
  {{- end -}}
  {{- with .mp4 -}}
    <source src="{{ . }}" type="video/mp4" />
  {{- end -}}
  {{- with .ogb -}}
    <source src="{{ . }}" type="video/ogv" />
  {{- end -}}
  </video>
{{- with .caption -}}
  <figcaption>{{ . }}</figcaption>
{{- end -}}
</figure>
