/**
 * SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: Ken Vermette <vermette@gmail.com>
 * SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

footer {
  background-color: var(--footer-bg);
  position: relative;
  padding-top: 2px;
  font-size: $font-size-base - 0.2rem;

  section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#kPatrons {
  background-color: $footer-bg;
  h3 {
    color: $body-color !important;
  }
}

#kLinks a {
  display: block;
  margin-top: 0.4rem;
}

#donateAmountField, #donateSubmit, #kMetaStore .button {
  max-width: 100%;
  border: solid 0 rgba(0, 0, 0, .2);
  background-color: var(--footer-bg);
  padding: 7px 10px;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
  color: var(--bs-body-color) !important;
  margin: 0 5px;

  &:active, &:focus, &:hover {
    background-color: var(--footer-bg-changed);
  }
}

#donateSubmit, #kMetaStore .button {
  cursor: pointer;

  &:active {
    top: 1px;
  }
}

#kLegal {
  color: var(--footer-legal-color);

  @media (min-width: 1199px) {
    .trademark {
      text-align: right;
    }
  }

  .maintenance {
    flex: 1;
  }

  small {
    display: block;
    min-width: 300px;

    @media (max-width: 1200px) {
      text-align: center;
    }

    @media (max-width: 300px) {
      min-width: 100%;
    }
  }
}

#kFooterIncome {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--footer-income-bg);
  border-radius: 2px;
  margin-top: 10px;
  padding: 0 !important;
  box-shadow: 2px 2px 2px #cccc;

  .center {
    text-align: center;
    width: 100%;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 14px;
  }
}

#kDonateForm, #kMetaStore {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#kDonateForm {
  border-right: solid 1px #7ceca4;
}

#kMetaStore .button {
  width: auto !important;
  display: inline-block !important;
}

@media (max-width: 768px) {
  #kFooterIncome {
    flex-direction: column;
  }
  #kDonateForm, #kMetaStore {
    width: 100%;
  }

  #kDonateForm {
    border-right: none;
    border-bottom: solid 1px #7ceca4;
  }
}

