<div class="feature {{ with .Get "direction" }}direction-{{ . }}{{ end }}">
  <div>
    <picture class="img-fluid {{ with .Get "class" }}{{ . }}{{ end }}"> {{ $darkname := print (substr (.Get "src") 0 -4) "-dark.png" }} {{ if or (fileExists (print "static/" .Page.File.Dir .Page.File.BaseFileName "/" $darkname)) (fileExists (print "/" .Page.File.Dir $darkname)) }} <source srcset="{{ .Page.Permalink }}{{ $darkname }}" media="(prefers-color-scheme: dark)"> {{ end }}
      <img src="{{ .Page.Permalink }}{{ .Get "src" }}" class="img-fluid {{ with .Get "class" }}{{ . }}{{ end }}" alt="{{ .Get "alt" }}" />
    </picture>
  </div>
  <div>
    {{ .Inner | $.Page.RenderString }}
  </div>
</div>
